<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DesktopWidgetToolExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>GitLab iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>GitLab.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GitLabXPC.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>NotificationContent.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A31CB392866334000C94AC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A31CB482866334100C94AC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A31CB522866334100C94AC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A5FC0F526EFD08E004136AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A5FC10A26EFD08F004136AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A5FC11526EFD08F004136AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AC4B40F2865C1480054C601</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
